@import url('https://fonts.cdnfonts.com/css/poppins');
*
 {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Poppins', sans-serif;
    background-image: linear-gradient(to right, #22c1c3, #fdbb2d);
    color: #fff;
}
.collapse {
    text-align: right;
    margin: 5px;
    width: 100%;
    font-size: 50px;
}
.accordion {
	display:flex;
	flex-direction:row;
	margin: 5px;
	padding: 5px;
	padding-left:5px;
	transition:0.4s;
    border-top: 0.5px solid white;
}
.justify {
    display:flex;
	width: 90%;
	margin:auto;
	margin-top:50px;
	flex-direction:column;
}
.container {
    margin: auto;
    position: relative;
    background: #3e3e3e;
    border-radius: 15px;
    width: 60%;
    border: 3px solid #73AD21;
    padding: 10px;
    
}
.line {
	margin: 5px 10px 5px 10px;
	text-align: justify;
	padding-left:10px;
	padding-right:5px;
	padding-top:5px;
	padding-bottom:5px;
}
.accordion:hover {
	background-color:green;
	cursor:pointer;
	background: radial-gradient(circle, #22c1c3, #fdbb2d);

}